/* css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(255, 70, 0);
    color: white;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
}
h2 {
    color: #333;
}
#fileInput {
    display: block;
    margin-bottom: 10px;
}
#fileList {
    list-style-type: none;
    padding: 0;
}
#fileList li {
    background-color: #f4f4f4;
    margin-bottom: 5px;
    padding: 10px;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
footer {
    background-color: rgb(255, 70, 0);
    color: white;
    padding: 20px;
    text-align: center;
}
#deleteBtn, #executeBtn, #downloadBtn {
    height: 35%; 
    flex-shrink: 0;
    flex-basis: 120px; /* ボタンの初期幅を120pxに設定 */
  }
  
  .btn-group {
    display: flex;
    justify-content: center; /* 中央揃え */
    align-items: center; 
  }