/* css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #FA6800; 
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; 
  }
  
  main {
    padding: 20px;
    width: 100%; 
    background-color: #FFF2CC; 
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  #fileInput {
    display: block;
    margin-bottom: 10px;
  }
  
  #fileList {
    list-style-type: none;
    padding: 0;
  }
  
  #fileList li {
    background-color: #f4f4f4;
    margin-bottom: 5px;
    padding: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 3px 50px; 
    margin-right: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  footer {
    background-color: #FA6800;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; 
  }
  
  #extraction-results {
    background-color: white; 
    padding: 30px; /
  }

  .row {
    justify-content: center;
  }

.btn-group { 
  text-align: center; /* ボタンを中央寄せ */
}

.col-2 {
  margin: 0 auto; /* 左右に自動的にマージンを設定 */
}

.btn-group .btn {
  width: 300px; /* ボタンの幅を300pxに固定 */
}